container_commands:
   # get socle last version
   02_get_socle:
      command: export COMPOSER_MEMORY_LIMIT=-1 && /usr/bin/composer.phar update --no-dev
   # Merge socle migrations
   # 03_copy_migrations:
      # command: cp -a /var/app/ondeck/vendor/sigma/backoffice/src/migrations/. /var/app/ondeck/database/migrations/