container_commands:
  03_migrate:
    command: "php artisan migrate --force"
    cwd: /var/app/staging
    leader_only: true
  04_seeders:
    command: "php artisan db:seed"
    cwd: /var/app/staging
    leader_only: true
  #05_passport_encryption_keys:
    #command: "php artisan passport:install"
    #cwd: /var/app/staging
    #leader_only: true
  06_route_cache:
    command: "php artisan route:cache"
    cwd: /var/app/staging
    ignoreErrors: true
  07_permissions:
    command: "chmod 777 -R /var/app/staging"
    cwd: /var/app/staging
  08_optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
  09_storage:
    command: "chmod 777 -R /var/app/staging/storage/"
  10_clear:
    command: "php artisan cache:clear"
  11_keys:
    command: "php artisan passport:keys"