container_commands:
  03_migrate:
    command: "php artisan migrate --force"
    cwd: /var/app/ondeck
    leader_only: true
  # 04_passport_encryption_keys:
  #  command: "php artisan passport:install"
  #  cwd: /var/app/ondeck
  #  leader_only: true
  05_route_cache:
    command: "php artisan route:cache"
    cwd: /var/app/ondeck
    ignoreErrors: true
  06_permissions:
    command: "chmod 777 -R /var/app/ondeck"
    cwd: /var/app/ondeck
  07_optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"
  08_storage:
    command: "chmod 777 -R /var/app/ondeck/storage/"
  09_clear:
    command: "php artisan cache:clear"
  #10_keys:
    #command: "php artisan passport:keys"
