body {
    background: url(../../img/addFood/fond.jpg) no-repeat center;
    background-position: 50% 50%;
    background-size: 1950px;
    background-color: #D4AFA7;
}

/*   ADDFOOD   */
.form-add-food {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.input-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px;
    width: 100%; 
}

.input-bar > input:focus {
    outline: none;
}

#input-title {
    user-select: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(32, 32, 32, 0.30);
    font-size: 30px;
    margin: 10px;
}

#food {
    border: none;
    padding: 15px;
    margin: 10px;
    width: 100%;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.3);
}

#submit-img {
    user-select: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}


/*   FOOD-SELECTOR   */

#select-food {
    min-width: 90vw;
    min-height: 20vh;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


#select-food > div {
    margin: 10px;
    cursor: pointer;
}

@media screen and (max-width:480px){
    .form-add-food
    {
        margin-top: 45%;
    }
}