body { 
    background: url(../../img/menu/fond.jpg) no-repeat center bottom;
    background-size: cover; 
    background-position: 50% 45%;
    background-attachment: fixed;
    overflow-y: auto;
}
.overlay{
    z-index:98;
    display: none;
    justify-content:center;
    position: fixed;
    width:100vw;
    height: 100vh;
    padding-top: 34vh;
    padding-bottom:34vh;
    background-color:rgba(0,0,0,0.6);
  }

 #critTitle {
    font-family: Montserrat-Reg;
    font-size: 20px;
    color: grey;
}
.foodImg { width: 100px; }
.addButton {
   width: 30px;
   cursor: pointer;
}

div.inSelect input::-webkit-outer-spin-button, div.inSelect input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
div.inSelect input {
    width: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-family: Montserrat-Bold;
}

.background1 {
    background: url(../../img/menu/forme.png) no-repeat bottom left;
    background-size: 100% 100%;
    width: 350px;
    min-height: 500px;
    padding-bottom: 2vh;

}
.vignettes
{
    margin-top: 4%;
}
@media all and (max-width: 900px){
        
    .background1
    {
        margin-top: 4%;
        margin-left: 30%;
        margin-right: 30%!important;
    }
}
@media all and (max-width: 680px){
    .background1{ 
        margin-left: 10%;
        margin-right: 10%!important;
        width: 350px;
        min-height: 500px;
    }
}

    .criteres 
    { 
     margin-right: 200px;
    }
    .addFood 
    { 
        margin-left: 200px; 
    }
    .criteres span, .criteres div 
    { 
        margin-top: 30px; 
    }
    .criteres div input { display: none; }
    .criteres div > span{ margin-right: 120px; font-family: Montserrat-Reg; font-weight: bold; color: grey;}
    .criteres div  img { width: 30px; } 
    div.decal { margin-right: 50px; }
    div.content { margin-top: 100px; }

    .button_style{
        margin-top: 36%;
        background: url(../../img/menu/check-validate.png) no-repeat right center;
        background-size: 50px; 
        background-position: 100px;
        width: 20vw;
        height: 10vh;
        text-align: left;
        color: rgba(255, 255, 255, 0.836);
        font-size: 20px;
        border: none;
        
      }
      .button_style_success{
        margin-top: 20px;
        width: 100%;
        color: white;
        background-color: #2CEB3B;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border: none;
        box-shadow: 1px 1px 1px 1px black;
        font-size: 18px;
      }
      
      .popup{
        z-index:99;
        border-radius: 5px;
        background-color: #FFFFFF;  
        border: black solid 1px;
        display: none;
        justify-content: center;
        text-align:center;
        padding: 20px;
      }

    
    
      
    #envoyer_input{
        font-family: Montserrat-Bold;
        color: white;
        font-size: 20px;
        text-align: center;
        border: none;
        background-color: transparent;
        background: url(../../img/menu/check-validate.png) no-repeat right center;
        background-size: 50px; 
        background-position: 100px;
        width: 180px;
        height: 50px;
    } 

    @media all and (max-width: 414px){
        .vignettes
        {
            display: flex;
            justify-content: center;
        }
        .criteres
        {
            margin-right: 0px;
            margin-bottom: 10%;
        }
        #envoyer_input
        {
            width: 300px;
            height: 75px;
            font-size: 30px;
            background-size: 75px;
            background-position: right;
        }
    }
    
    #cross {
        width: 10px;
        height: 10px;
        background: linear-gradient(to bottom, transparent 35%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%,  transparent 65%),linear-gradient(to right, transparent 35%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, transparent 65%);
        transform: rotate(45deg);
      }
      #cross:hover{
        background: linear-gradient(to bottom, transparent 35%, rgb(94, 94, 94) 35%, rgb(94, 94, 94) 65%,  transparent 65%),linear-gradient(to right, transparent 35%, rgb(94, 94, 94) 35%, rgb(94, 94, 94) 65%, transparent 65%);
        
      }

    #envoyer_input
    {
        /* background-image: url(../../img/menu/check-validate.png) no-repeat right center;
        background-size: 50px; */
        margin-top: 4%;
        margin-left: 4%;
        margin-right: 4%;
        font-size: 24px;
        color: rgba(121, 121, 121, 0.884);
        min-height: 4vh;
        max-height: 6vh;
        min-width: 10vw;
        text-align: center;
        background: none;
        border: none;
    }
    @media all and (max-width: 1012px){
        #envoyer_input{
            margin-top: 4%;
        }
    }

    #pop_organiser
    {
        display: flex;
        justify-content: space-evenly;
    }
    .popup{
        margin-top: 20%;
        border-radius: 5px;
        background-color: #FFFFFF;  
        border: black solid 1px;
        min-width:18vw;
        min-height: 10vh;
        max-height: 20vh;
        display: block;
        justify-content: center;
        text-align:center;
        padding-bottom:4vh;
    }
    @media all and (max-width: 1000px){
        .popup{
            width: 40vw;
            height: 10vh;
        }
    }
    #overlay
    {
        top: 0;
        display: none;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.548);
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    