body{
    background: url(../../img/recovery/forme.png) no-repeat bottom center;
    background-attachment: fixed;
    background-size: 100%;
    overflow-x: hidden;
}

input {
    outline: none;
}

input.field { 
    background:url(../../img/login/email-icon.png), url(../../img/login/login-input-barre.png);
    background-position: 5%, 45%, left center;
    background-repeat: no-repeat, no-repeat;
    background-color: transparent;
    background-size: 20px, 500px;
    color: black;
    text-decoration: none;
    border: none;
    width: 500px;
    height: 60px;
    padding-left: 55px;
    padding-right: 25px;
    padding-bottom: 5px;
}

#recoveryTitle {
    font-family: Montserrat-Bold;
    font-size: 80px;
}

#sub-recoveryTitle {
    font-family: Montserrat-Reg;
    font-size: 30px;
}

#recoveryTitleContainer {
   margin-bottom: 50px; 
   padding: 50px;
}

#submitLog{
    width: 250px;
    height: 30px;
    background: url(../../img/recovery/recovery-icon.png) no-repeat bottom center;
    background-size: 40px;
    font-family: Montserrat-Bold;
    font-size: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
}

div > span.submitText {
    font-family: Montserrat-Bold;
    font-size: 30px;
}
@media all and (max-width: 414px){
    #recoveryTitleContainer
    {
        width: 100vw;
        padding-top: 20%;
        padding-bottom: 10%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    #recoveryTitle
    {
        padding-top: 10%;
        white-space: nowrap;
        font-size: 60px;
    }
    #sub-recoveryTitle
    {
        font-size: 20px;
    }
    input.field
    {
        width: 380px;
        background-size: 20px, 380px;
    }
    .form-group1
    {
        padding-bottom: 8%;
    }
    div > span.submitText
    {
        font-size: 25px;
    }
}