input.big{
    background:url(../../../../img/background-input.png) no-repeat left center;
}

input.normal{
  background:url(../../../../img/background-input.png) no-repeat left center;
}

input.little{
  background:url(../../../../img/background-input-little.png) no-repeat center;
}

input.txt_input {
  background-color: transparent;
  background-size: 500px;
  color: black;
  text-decoration: none;
  border: none;
  width: 500px;
  height: 60px;
  padding-left: 20px;
  padding-right: 25px;
}

input, textarea {
  margin-top: 5px;
  outline: none;
}






