/** The Magic **/
.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3; }

.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3; }

/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px; }

.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px; }

.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px; }

/** Default button **/
.btn-breadcrumb .btn.btn-default:after {
  border-left: 10px solid #fff; }

.btn-breadcrumb .btn.btn-default:before {
  border-left: 10px solid #ccc; }

.btn-breadcrumb .btn.btn-default:hover:after {
  border-left: 10px solid #ebebeb; }

.btn-breadcrumb .btn.btn-default:hover:before {
  border-left: 10px solid #adadad; }

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {
  border-left: 10px solid #428bca; }

.btn-breadcrumb .btn.btn-primary:before {
  border-left: 10px solid #357ebd; }

.btn-breadcrumb .btn.btn-primary:hover:after {
  border-left: 10px solid #3276b1; }

.btn-breadcrumb .btn.btn-primary:hover:before {
  border-left: 10px solid #285e8e; }

/** Success button **/
.btn-breadcrumb .btn.btn-success:after {
  border-left: 10px solid #5cb85c; }

.btn-breadcrumb .btn.btn-success:before {
  border-left: 10px solid #4cae4c; }

.btn-breadcrumb .btn.btn-success:hover:after {
  border-left: 10px solid #47a447; }

.btn-breadcrumb .btn.btn-success:hover:before {
  border-left: 10px solid #398439; }

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:after {
  border-left: 10px solid #d9534f; }

.btn-breadcrumb .btn.btn-danger:before {
  border-left: 10px solid #d43f3a; }

.btn-breadcrumb .btn.btn-danger:hover:after {
  border-left: 10px solid #d2322d; }

.btn-breadcrumb .btn.btn-danger:hover:before {
  border-left: 10px solid #ac2925; }

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:after {
  border-left: 10px solid #f0ad4e; }

.btn-breadcrumb .btn.btn-warning:before {
  border-left: 10px solid #eea236; }

.btn-breadcrumb .btn.btn-warning:hover:after {
  border-left: 10px solid #ed9c28; }

.btn-breadcrumb .btn.btn-warning:hover:before {
  border-left: 10px solid #d58512; }

/** Info button **/
.btn-breadcrumb .btn.btn-info:after {
  border-left: 10px solid #5bc0de; }

.btn-breadcrumb .btn.btn-info:before {
  border-left: 10px solid #46b8da; }

.btn-breadcrumb .btn.btn-info:hover:after {
  border-left: 10px solid #39b3d7; }

.btn-breadcrumb .btn.btn-info:hover:before {
  border-left: 10px solid #269abc; }

@font-face {
  font-family: 'icon-menage';
  src: url("../fonts/icon-menage.eot?mp2a11");
  src: url("../fonts/icon-menage.eot?mp2a11#iefix") format("embedded-opentype"), url("../fonts/icon-menage.ttf?mp2a11") format("truetype"), url("../fonts/icon-menage.woff?mp2a11") format("woff"), url("../fonts/icon-menage.svg?mp2a11#icon-menage") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-menage"], [class*=" icon-menage"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-menage' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menage-game:before {
  content: "\e900"; }

.icon-menage-woman:before {
  content: "\e901"; }

.icon-menage-send:before {
  content: "\e902"; }

.icon-menage-close:before {
  content: "\e903";
  color: #f05228; }

.icon-menage-checked:before {
  content: "\e904";
  color: #6ac259; }

.icon-menage-placeholder:before {
  content: "\e905"; }

.icon-menage-sewing:before {
  content: "\e906"; }

.icon-menage-paper-plane:before {
  content: "\e907"; }

.icon-menage-list:before {
  content: "\e908"; }

.icon-menage-hourglass:before {
  content: "\e909"; }

.icon-menage-certificate:before {
  content: "\e90a"; }

.icon-menage-silence:before {
  content: "\e90b"; }

.icon-menage-avatar:before {
  content: "\e90c"; }

.icon-menage-cal:before {
  content: "\e90d"; }

.icon-menage-horaire:before {
  content: "\e90e"; }

.icon-menage-info:before {
  content: "\e90f"; }

.icon-menage-mail:before {
  content: "\e910"; }

.icon-menage-map:before {
  content: "\e911"; }

.icon-menage-phone:before {
  content: "\e912"; }

.icon-menage-phont:before {
  content: "\e913"; }

.icon-menage-proc_cal:before {
  content: "\e914"; }

.icon-menage-proc_looking:before {
  content: "\e915"; }

.icon-menage-proc_pay:before {
  content: "\e916"; }

.icon-menage-proc_select:before {
  content: "\e917"; }

.icon-menage-question:before {
  content: "\e918"; }

.icon-menage-search:before {
  content: "\e919"; }

.icon-menage-secure:before {
  content: "\e91a"; }

.icon-menage-shop:before {
  content: "\e91b"; }

.icon-menage-shopadd:before {
  content: "\e91c"; }

.icon-menage-suppr:before {
  content: "\e91d"; }

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; }

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s; }

/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 2000;
  background-color: #FEFEFE;
  transition: transform 0.3s; }
  .c-menu .square {
    background-color: #fff;
    color: #2c2c2f;
    border: 1px solid #2c2c2f; }
    .c-menu .square .succes-title {
      font-size: 14px; }
      .c-menu .square .succes-title i {
        font-size: 40px;
        margin-bottom: 5px; }
  .c-menu .navbar-form {
    padding-top: 25px;
    position: relative; }
    .c-menu .navbar-form .input-group .form-control {
      border-radius: 0px;
      border-bottom: 1px solid #2c2c2f;
      background-color: transparent; }
    .c-menu .navbar-form .input-group-addon {
      background: transparent;
      border: none; }
      .c-menu .navbar-form .input-group-addon .input-icone {
        font-size: 30px;
        position: relative;
        top: -5px;
        left: -10px; }

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
.c-menu--slide-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }

@media all and (min-width: 850px) {
  .c-menu--push-right {
    width: 800px; } }

@media all and (min-width: 175px) {
  .c-menu--slide-left {
    width: 100%; } }
.c-menu--slide-left img {
  margin: auto; }

/**
 * Slide/Push Menu Right.
 */
.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  transform: translateX(100%); }
  @media all and (min-width: 850px) {
    .c-menu--slide-right,
    .c-menu--push-right {
      transform: translateX(800px); } }

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  transform: translateX(0); }

/**
 * Slide/Push Menu Left.
 */
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%); }
  @media all and (min-width: 175px) {
    .c-menu--slide-left,
    .c-menu--push-left {
      transform: translateX(-100%); } }

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0); }

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
.o-wrapper.has-push-right {
  transform: translateX(-100%); }
  @media all and (min-width: 850px) {
    .o-wrapper.has-push-right {
      transform: translateX(-800px); } }

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden; }

/**
 * Close button resets.
 */
.c-menu--slide-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  right: 0px;
  position: absolute; }
.c-menu--slide-left .element-menu-mobile > div {
  position: relative;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.c-menu--slide-left .element-menu-mobile .fermer {
  font-size: 25px;
  color: #435FA5; }

.c-menu__close:focus {
  outline: none; }

.bootstrap-datetimepicker-widget {
  background: #9193b9;
  color: #FFF;
  border-radius: 5px;
  padding: 5px; }
  .bootstrap-datetimepicker-widget table td.active {
    background: #c02027; }
  .bootstrap-datetimepicker-widget table .dow {
    background: #7274a5;
    border-radius: 0px;
    margin: 10px 0; }

.navbar.navbar-fixed-top {
  z-index: 20; }
@media (max-width: 767px) {
  .navbar > .container .navbar-brand {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 1; }
    .navbar > .container .navbar-brand img {
      margin: auto; } }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -35px; } }
.navbar #telephone {
  display: flex;
  padding: 30px 25px;
  justify-content: space-around;
  align-items: center; }
  .navbar #telephone i {
    font-size: 30px;
    position: relative;
    margin: 0 10px; }
  @media (max-width: 991px) {
    .navbar #telephone {
      display: none; } }
@media (max-width: 767px) {
  .navbar {
    background: transparent;
    border: none; } }
.navbar .navbar-toggle {
  position: absolute;
  top: 15px;
  left: 25px;
  background-color: #fff;
  border: none;
  z-index: 1050; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #c02027; }
@media (min-width: 768px) {
  .navbar {
    background: #ffffff;
    height: 100px; } }
.navbar .logo-menage-nav {
  margin: 10px 0 20px 0; }
.navbar .navbar-form {
  padding-top: 25px; }
  .navbar .navbar-form .input-group .form-control:first-child {
    border-radius: 0px; }
  .navbar .navbar-form .input-group-addon {
    background: transparent;
    border: none; }
    .navbar .navbar-form .input-group-addon .input-icone {
      font-size: 30px;
      position: relative;
      top: -5px;
      left: -10px; }
.navbar .navbar-default .navbar-nav > li > a {
  color: #2c2c2f; }
.navbar .simplebox {
  border-bottom: 1px solid #2c2c2f;
  padding: 6px 0;
  width: 200px !important; }
  @media (min-width: 1200px) {
    .navbar .simplebox {
      width: 250px !important; } }
.navbar li > a {
  color: #2c2c2f !important; }
.navbar #dropdown-profile:hover {
  cursor: pointer; }
.navbar #dropdown-profile.open > a {
  background: #fff !important; }
.navbar .navbar-right {
  text-transform: uppercase;
  color: #2c2c2f;
  height: 100px; }
  .navbar .navbar-right > li {
    height: 100px; }
  .navbar .navbar-right a {
    font-size: 12px;
    margin-top: 8px; }
    .navbar .navbar-right a i {
      font-size: 30px;
      position: relative;
      top: 8px;
      margin: 0 10px; }
  .navbar .navbar-right .active-menu a {
    background: #2c2c2f;
    color: #ffffff; }
  .navbar .navbar-right .nav-panier {
    background: #2b2e36;
    width: 100px; }
    .navbar .navbar-right .nav-panier i {
      color: #ffffff; }

#search-slide-menu {
  background: #ffffff;
  padding: 20px 0; }
  #search-slide-menu .zone-metier .square-3 {
    margin-top: 0px;
    margin-bottom: 3.33%; }
  #search-slide-menu .zone-form {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 25px; }
  #search-slide-menu .zone-form img + .content {
    position: absolute;
    top: 0;
    left: 0; }
    #search-slide-menu .zone-form img + .content p {
      font-size: 55px;
      text-shadow: 2px 2px black; }

.layer {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.square-3 {
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%; }
  @media (max-width: 991px) {
    .square-3 {
      width: 45%;
      margin: 2.5%;
      padding-bottom: 45%; } }
  @media (max-width: 520px) {
    .square-3 {
      width: 70%;
      margin: 25px 15%;
      padding-bottom: 70%; } }

.sqaure-bg {
  background-image: url(../images/succes-moment/nettoyage-vitre.jpg);
  background-position: center center;
  background-repeat: no-repeat; }

.square-4 {
  width: 22%;
  padding-bottom: 22%;
  margin: 1.5%; }
  @media (min-width: 1200px) {
    .square-4 .succes-title {
      font-size: 25px; } }
  @media (min-width: 992px) {
    .square-4 .succes-title {
      font-size: 20px; } }
  @media (max-width: 991px) {
    .square-4 {
      width: 45%;
      margin: 2.5%;
      padding-bottom: 45%; } }

.square {
  float: left;
  position: relative;
  background-color: #9193b9;
  color: #FFF;
  overflow: hidden;
  text-align: center; }
  .square:hover .btn-default {
    display: inline-block !important; }
  .square:hover .thumb-info-action-icon {
    right: 0;
    top: 0; }
  .square .thumb-info-action-icon {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #c02027 transparent transparent;
    display: inline-block;
    font-size: 25px;
    height: 0px;
    line-height: 100px;
    position: absolute;
    right: -100px;
    text-align: center;
    top: -100px;
    width: 0px;
    z-index: 3; }
    .square .thumb-info-action-icon i {
      font-size: 24px;
      left: 55px;
      position: relative;
      top: -20px;
      color: #FFF; }

.content {
  position: absolute;
  height: 90%;
  /* = 100% - 2*5% padding */
  width: 90%;
  /* = 100% - 2*5% padding */
  margin: 5%; }
  .content .succes-title {
    text-transform: uppercase;
    font-size: 18px; }
  .content .option-title {
    text-transform: uppercase;
    font-size: 20px; }
  .content .btn-default {
    padding: 7.5px 15px;
    border-width: 2px;
    font-size: 16px; }
  @media (max-width: 767px) {
    .content .succes-title {
      font-size: 20px; } }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

body {
  font-family: 'Montserrat';
  background: #dedeea; }

a {
  color: #c02027; }

a:hover {
  color: #94191e;
  text-decoration: none; }

.rouge {
  color: #c02027; }

.blanc {
  color: #ffffff; }

.lavande {
  color: #9193b9; }

.bg-white {
  background: #ffffff; }

.margin25 {
  margin-top: 25px; }

.margin-auto {
  margin: auto; }

@media (max-width: 767px) {
  .center-xs {
    text-align: center; } }

@media (max-width: 990px) {
  .center-sm {
    text-align: center; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-default {
  border-radius: 0px;
  text-transform: uppercase;
  background: #c02027;
  padding: 15px 15px;
  font-size: 18px;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: background 0.5s;
  white-space: normal; }
  .btn-default:hover {
    color: #ffffff;
    background: #94191e; }
  @media (max-width: 767px) {
    .btn-default {
      font-size: 14px; } }

.btn-link {
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 18px;
  border: 3px solid #ffffff;
  color: #c02027; }

.badge-info-defaut, .badge-info-blanc {
  padding: 10px 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px dashed #ffffff;
  border-radius: 10px;
  background: #c02027;
  font-size: 28px;
  line-height: 34px; }
  @media (max-width: 767px) {
    .badge-info-defaut, .badge-info-blanc {
      font-size: 3.5vw;
      line-height: 4vw; } }
  @media (min-width: 991px) and (max-width: 1199px) {
    .badge-info-defaut, .badge-info-blanc {
      font-size: 23px;
      line-height: 29px; } }

.badge-info-blanc {
  color: #c02027;
  border: 2px dashed #c02027;
  background: #ffffff; }

.header-bordure {
  position: relative;
  bottom: 52px; }
  .header-bordure .bordure {
    background: #ffffff;
    height: 3px;
    position: relative;
    top: 42px; }
  .header-bordure h2 {
    padding: 15px 0;
    text-align: center;
    background: #2c2c2f;
    text-transform: uppercase;
    color: #ffffff; }

.simplebox {
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.display-none {
  display: none; }

.row-badge-info {
  margin-top: -45px; }

section {
  padding: 50px 0; }

.container-succes-moment .decouvrir-prestation {
  position: relative;
  top: 30px; }
.container-succes-moment .square-4 .btn-default {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 10px;
  display: none; }
  @media (max-width: 520px) {
    .container-succes-moment .square-4 .btn-default {
      white-space: normal;
      left: 0px;
      bottom: 10px; } }
.container-succes-moment .square-3 .btn-default {
  position: absolute;
  bottom: 25px;
  left: 12.5px;
  display: none; }
  @media (max-width: 670px) {
    .container-succes-moment .square-3 .btn-default {
      white-space: normal;
      left: 0px;
      bottom: 10px; } }
  @media (min-width: 992px) {
    .container-succes-moment .square-3 .btn-default {
      bottom: 25px;
      left: -4.5px; } }
  @media (min-width: 1200px) {
    .container-succes-moment .square-3 .btn-default {
      bottom: 25px;
      left: 22.5px; } }

footer {
  background: #2c2c2f;
  color: #ffffff;
  padding-bottom: 15px; }
  footer .col-md-3 {
    padding-right: 50px; }
  footer h4 {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff; }
    @media (min-width: 768px) {
      footer h4 {
        margin-top: 65px;
        margin-bottom: 50px;
        padding: 20px 0;
        border-bottom: 1px solid #ffffff; } }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px; }
    footer ul li {
      margin-bottom: 10px; }
  footer a {
    color: #ffffff; }

#copyright {
  background: #ffffff;
  padding: 30px 0; }
  #copyright a {
    color: #2c2c2f; }
  #copyright .separateur {
    padding: 0 10px; }

/*# sourceMappingURL=main.css.map */
