header {
  margin-top: 100px;
  margin-bottom: 50px; }
  header h1 {
    background: #c02027;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px; }
  header .zone {
    background: rgba(255, 255, 255, 0.95);
    margin: 40px 0;
    padding: 50px 25px; }
    header .zone .btn-default {
      position: absolute;
      bottom: 10px; }
      @media (min-width: 1200px) {
        header .zone .btn-default {
          position: absolute;
          left: 100px; } }
  @media (max-width: 767px) {
    header #zone-tarif {
      text-align: center; } }
  header #zone-tarif p {
    font-size: 16px; }
  header #zone-tarif .btn-default {
    left: 65px; }
    @media (max-width: 1199px) {
      header #zone-tarif .btn-default {
        left: 35px; } }
    @media (max-width: 990px) {
      header #zone-tarif .btn-default {
        left: 250px;
        bottom: -27px; } }
    @media (max-width: 767px) {
      header #zone-tarif .btn-default {
        position: initial; } }
  @media (min-width: 1200px) {
    header #zone-tarif .form-group {
      margin: 15px 30px; } }
  header #zone-tarif .bouton-number {
    color: #fff;
    border-color: #9193b9;
    background-color: #9193b9;
    font-weight: bold;
    cursor: pointer; }
  header #zone-tarif .input-nombre-affichage {
    background: #fff;
    text-align: center;
    box-shadow: none;
    border-color: #9193b9; }
  header #zone-tarif .tarif-title {
    background: #2b2e36;
    text-transform: uppercase;
    font-size: 20px;
    padding: 7.5px 15px;
    color: #fff;
    position: relative;
    text-align: center;
    top: -72.5px;
    padding: 7.5px 15px;
    margin: 0 60px; }
  header #zone-tarif .table .table-title {
    color: #9193b9;
    text-transform: uppercase;
    font-size: 18px; }
  header #zone-tarif .table hr {
    border-color: #9193b9; }
  header #zone-tarif .table .btn {
    text-transform: uppercase;
    font-size: 12px;
    color: #9193b9;
    border-color: #9193b9;
    background-color: #fff; }
  header #zone-tarif .table > tbody > tr > td {
    vertical-align: middle;
    border: none;
    padding: 5px; }
  header #zone-tarif .bouton-qte {
    color: #fff;
    border-color: #9193b9;
    background-color: #9193b9;
    font-weight: bold;
    cursor: pointer; }
  header #zone-tarif .prix-grand {
    font-size: 25px;
    text-align: right;
    padding-right: 0; }
  header #zone-tarif .prix-euro {
    position: relative;
    font-weight: bold;
    bottom: 14px;
    left: 0px;
    font-size: 14px; }
  header #zone-tarif .prix-ttc {
    position: relative;
    font-weight: bold;
    bottom: 0px;
    left: -20px;
    font-size: 10px; }
  header #zone-tarif .ttc-fiscal {
    font-size: 10px; }
  header #zone-tarif .prix-petit {
    position: relative;
    top: 1px;
    left: -5px;
    margin-left: -9px;
    font-size: 14px;
    font-weight: normal; }
  header #zone-tarif .tarif-produit {
    font-weight: bold;
    color: #c02027;
    margin-top: -25px; }
    header #zone-tarif .tarif-produit .prix-grand {
      font-size: 60px; }
    header #zone-tarif .tarif-produit .prix-euro {
      font-size: 40px;
      top: -30px; }
    header #zone-tarif .tarif-produit .prix-petit {
      font-size: 25px;
      left: -25px; }
  header #zone-adresse {
    display: none; }
    @media (max-width: 767px) {
      header #zone-adresse {
        text-align: center; } }
    header #zone-adresse .btn-default {
      left: 100px; }
      @media (max-width: 990px) {
        header #zone-adresse .btn-default {
          left: 285px;
          bottom: -27px; } }
      @media (max-width: 767px) {
        header #zone-adresse .btn-default {
          margin-top: 15px;
          position: initial; } }
    header #zone-adresse #erreur-adresse {
      display: none; }
    header #zone-adresse .tarif-title {
      background: #2b2e36;
      text-transform: uppercase;
      font-size: 20px;
      padding: 7.5px 15px;
      color: #fff;
      position: relative;
      text-align: center;
      top: -72.5px;
      padding: 7.5px 15px;
      margin: 0 60px;
      margin-bottom: -50px; }
    header #zone-adresse #map {
      height: 150px;
      width: 100%; }
    header #zone-adresse .form-group,
    header #zone-adresse .gm-style {
      margin-top: 35px;
      margin-bottom: 0px; }
      header #zone-adresse .form-group *::-webkit-input-placeholder,
      header #zone-adresse .gm-style *::-webkit-input-placeholder {
        color: #b0b2cd; }
      header #zone-adresse .form-group *:-moz-placeholder,
      header #zone-adresse .gm-style *:-moz-placeholder {
        /* FF 4-18 */
        color: #b0b2cd; }
      header #zone-adresse .form-group *::-moz-placeholder,
      header #zone-adresse .gm-style *::-moz-placeholder {
        /* FF 19+ */
        color: #b0b2cd; }
      header #zone-adresse .form-group *:-ms-input-placeholder,
      header #zone-adresse .gm-style *:-ms-input-placeholder {
        /* IE 10+ */
        color: #b0b2cd; }
      header #zone-adresse .form-group input,
      header #zone-adresse .gm-style input {
        top: -50px;
        height: 50px;
        box-shadow: none;
        border-color: #b0b2cd;
        color: #444;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center; }
  header #zone-rdv {
    display: none; }
    @media (max-width: 767px) {
      header #zone-rdv {
        text-align: center; } }
    header #zone-rdv .btn-default {
      left: 70px; }
      @media (max-width: 1199px) {
        header #zone-rdv .btn-default {
          left: 40px; } }
      @media (max-width: 990px) {
        header #zone-rdv .btn-default {
          left: 250px;
          bottom: -27px; } }
      @media (max-width: 767px) {
        header #zone-rdv .btn-default {
          margin-top: 15px;
          position: initial; } }
    header #zone-rdv .tarif-title {
      background: #2b2e36;
      text-transform: uppercase;
      font-size: 20px;
      padding: 7.5px 15px;
      color: #fff;
      position: relative;
      text-align: center;
      top: -72.5px;
      padding: 7.5px 15px;
      margin: 0 60px;
      margin-bottom: -50px; }
    header #zone-rdv .form-control {
      border-color: #9193b9;
      margin: 10px 0px;
      color: #9193b9; }
  header #zone-merge-presta {
    text-align: center; }
    header #zone-merge-presta .tarif-title {
      font-size: 18px; }
    header #zone-merge-presta button {
      border-radius: 10px;
      background: #9193b9;
      color: #ffffff;
      white-space: normal;
      margin: 10px 0; }

.text-descriptif {
  padding: 15px 0px; }
  @media (min-width: 768px) {
    .text-descriptif {
      padding: 50px; } }

.caracteristique-produit {
  text-align: center;
  color: #9193b9;
  padding: 15px 0px; }
  @media (min-width: 768px) {
    .caracteristique-produit {
      font-size: 20px;
      margin-top: 25px; } }

.row-descriptif .list-inclus {
  list-style: none; }
  .row-descriptif .list-inclus li {
    font-size: 16px;
    background-image: url("/images/checked.png");
    background-repeat: no-repeat;
    line-height: 30px;
    padding-left: 30px;
    margin: 5px 0px;
    margin-left: 20px; }
    .row-descriptif .list-inclus li:first-child {
      margin-top: 25px; }
.row-descriptif .list-exclus {
  display: inline-block;
  margin-left: 15px; }
  .row-descriptif .list-exclus li {
    font-size: 16px;
    background-image: url("/images/close.png");
    background-repeat: no-repeat;
    line-height: 30px;
    padding-left: 30px; }
.row-descriptif p {
  position: relative;
  margin: 0 20px; }
.row-descriptif p span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  font-size: 20px; }
.row-descriptif p:before {
  background: #444;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%; }
.row-descriptif p:before {
  left: 0; }

.container-contenu-produit {
  background-color: transparent !important; }
  .container-contenu-produit .nav-tabs {
    margin-top: -40px;
    border-bottom: none;
    text-align: center; }
  .container-contenu-produit .nav-tabs > li,
  .container-contenu-produit .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* for IE7*/
    *zoom: 1;
    /* for IE7*/ }
    .container-contenu-produit .nav-tabs > li > a,
    .container-contenu-produit .nav-pills > li > a {
      border-radius: 0px;
      border: none;
      padding: 10px 25px;
      background: #ccc;
      color: #555;
      text-transform: uppercase; }
      .container-contenu-produit .nav-tabs > li > a:hover,
      .container-contenu-produit .nav-pills > li > a:hover {
        border: none; }
    .container-contenu-produit .nav-tabs > li.active > a,
    .container-contenu-produit .nav-pills > li.active > a {
      background-color: #9193b9;
      color: #fff; }
      .container-contenu-produit .nav-tabs > li.active > a:hover,
      .container-contenu-produit .nav-pills > li.active > a:hover {
        border: none; }
  .container-contenu-produit .row-reservation {
    margin-top: 50px;
    background-color: #DDD;
    padding: 40px 0px;
    border-top: 1px solid #2b2e36; }
    .container-contenu-produit .row-reservation i {
      font-size: 75px; }
  .container-contenu-produit .row-descriptif {
    padding-top: 50px;
    background-color: #FFF; }
  .container-contenu-produit .reservation-header {
    background: #2b2e36;
    text-transform: uppercase;
    font-size: 20px;
    padding: 7.5px 15px;
    color: #fff;
    position: relative;
    text-align: center;
    top: -62.5px; }
  .container-contenu-produit .reservation-title {
    color: #c02027;
    font-size: 18px; }

#modalAP .modal-body,
#myModal .modal-body {
  text-align: center;
  background: #9193b9;
  color: white; }
#modalAP .selectPresta,
#myModal .selectPresta {
  border-radius: 5px;
  border: 1px dashed white;
  padding: 10px; }
  #modalAP .selectPresta p,
  #myModal .selectPresta p {
    margin: 0px; }
  #modalAP .selectPresta.active,
  #myModal .selectPresta.active {
    background: white;
    color: #9193b9;
    border-color: #9193b9; }

#myModal .modal-body p {
  font-size: 20px; }

#modalHZ, #modalNE {
  text-align: center; }
  #modalHZ .modal-body img, #modalNE .modal-body img {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 10px; }
  #modalHZ .modal-body p, #modalNE .modal-body p {
    text-align: center; }
  #modalHZ .modal-body p:nth-child(2), #modalNE .modal-body p:nth-child(2) {
    color: red; }

#modalNE a {
  text-transform: none;
  margin-bottom: 20px; }

#modalHZ input {
  position: relative;
  top: -11px;
  height: 55px; }
#modalHZ button {
  position: relative;
  top: -12px;
  left: -93px; }

/*# sourceMappingURL=produit.css.map */
